<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server 0424 - Stable Diffusion</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico?v=1.0">
    <script defer src="/diffusionTest/diffusionTest.js"></script>
    <link rel="stylesheet" href="/diffusion/diffusionTest.css"/>
</head>
<body>
    <h1>Stable Diffusion Request</h1>
    <!-- Form for test submit -->
    <form action="javascript:void(0);">
        <textarea placeholder="Prompt" id="prompt"></textarea>
        <button id="submitBtn">Submit</button>
    </form>
    <section class="resultImgWrapper">
    </section>
</body>
</html>