<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server 0424 - Stable Diffusion</title>
    <script defer src="/diffusion/diffusion.js"></script>
    <link rel="stylesheet" href="/diffusion/diffusion.css"/>
</head>
<body>
    <h1>Stable Diffusion Request</h1>
    <form action="javascript:void(0);">
        <textarea placeholder="Prompt" id="prompt"></textarea>
        <button id="submitBtn">Submit</button>
    </form>
    <section class="resultImgWrapper">
        <img class="resultImg" src="" alt="result"/>
    </section>
</body>
</html>