<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diffusion - Request Received</title>
</head>
<body>
    <h1>Request Received</h1>
    <p>
        Your api key request for origin: <%=locals.origin%> has been received and is being processed.<br/>
        You'll receive an email at <%=locals.email%> when complete.</p>
</body>
</html>