<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server0424 Diffusion Key</title>
</head>
<body>
    <h1>Your request has been submitted.</h1>
    <p>
        Save this key for future use. For security reasons, you won't be able to access it later. <br/>
        <strong>ORIGIN: <%=origin%></strong><br/>
        <strong>KEY: <%=key%></strong><br/>
        This key has not yet been approved, you will receive an email after processing is complete.
    </p>
</body>
</html>