<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server0424</title>
    <script defer src="/serverInfo/serverInfo.js"></script>
    <link rel="stylesheet" href="/serverInfo/serverInfo.css"/>
</head>

<body>
    <h1>Welcome to Server0424</h1>
    <p>This is a multipurpose site which hosts endpoints for JmDev.</p>
</body>

</html>