<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server0424</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico?v=1.0">
    <script defer src="/serverInfo/serverInfo.js"></script>
    <link rel="stylesheet" href="/serverInfo/serverInfo.css"/>
</head>

<body>
    <header>
        <h1>Server0424</h1>
        <button onclick="location.href = '/'" class="homeBtn"><img src="/assets/logo.png"/></button>
    </header>
    <p>This site hosts pages and apis for JmDev.</p>
    <nav>
        <h2>Links</h2>
        <button class="linkBtn" onclick="location.href = '/diffusion'"><span>Diffusion</span></button>
    </nav>
</body>

</html>